<div *ngIf="selectedUserInput">
  <h2>{{ title }} User</h2>
  <hr />

  <form [formGroup]="userForm" (ngSubmit)="onClickSave()">
    <input type="hidden" id="id" name="id">

    <div>
      <label>Email</label>
      <input type="text" formControlName="email">
    </div>

    <div>
      <label>FullName</label>
      <input type="text" formControlName="fullName">
    </div>

    <div>
      <label>Dob</label>
      <input type="text" formControlName="dob">
    </div>

    <div>
      <label>Username</label>
      <input type="text" formControlName="userName">
    </div>

    <div>
      <label>Password</label>
      <input type="text" formControlName="password">
    </div>

    <div>
      <label>Additional Text</label>
      <input type="text" formControlName="additionalText">
    </div>

    <hr />
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update</button>
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </form>

</div>
