.table {
  width: 90%;
  text-align: justify;
}

.btn-edit {
  color: blue;
}

.btn-trash {
  color: red;
}

.btn-addUser {
  float: right;
  width: 8%;
  height: 4%;
  padding: .4em;
  border-style: groove;
  border-radius: 17%;
}

#search {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.searchBar {
  width: 90%;
  height: 2rem;
  padding: 5px;
}

.hr {
  width: 90%;
  margin-left: 0;
}
