<script src="https://kit.fontawesome.com/64b19e52b8.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>
  Welcome to the {{ title }}!
</h1>

<h2>Click <a [routerLink]="['/users/add']" [title]="'Add User'"><i class="fa fa-plus"></i></a> to add new user</h2>
<input class="searchBar" type="text" name="search" [(ngModel)]="searchString" autocomplete="off" placeholder="Type in to start search..."><br />
<hr class="hr" />

<p *ngIf="!users"><strong>No users available..</strong></p>

<table class='table' *ngIf="users">
  <thead>
  <tr>
    <th>Nr.</th>
    <th>Email</th>
    <th>Full name</th>
    <th>Dob</th>
    <th>Username</th>
    <th>Password</th>
    <th>Additional Info</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | filter: searchString ; index as counter">
    <td>{{ counter+1 }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.fullName }}</td>
    <td>{{ user.dob }}</td>
    <td>{{ user.userName }}</td>
    <td>{{ user.password }}</td>
    <td>{{ user.additionalText }}</td>
    <td><button (click)="onClick(user)"><i class="fa fa-edit">Edit</i></button></td>
  </tr>
  </tbody>
</table>

<app-edit-user [selectedUserInput]="selectedUser"></app-edit-user>
