.container {
  width: 40%;
  margin-left: 10px;
}

.container input {
  width: 100%;
  clear: both;
}

.buttonCancel {
  width: 12%;
  margin-left: 10px;
}

.buttonSubmit {
  width: 10%;
  margin: 2%;
}
