<h1>{{title}} user</h1>
<h2>User</h2>
<hr />

<form class="container" [formGroup]="userForm" #formDir="ngForm" (ngSubmit)="onSubmit(userForm.value)">

  <div>
    <label for="email">
      Email
    </label>
    <input id="email" type="text" formControlName="email" required pattern="\S+" title="This field is required">
  </div>
  <span class="text-danger" *ngIf="email?.invalid && formDir.submitted">
    Email is required.
  </span>

  <div>
    <label for="fullName">
      Full name
    </label>
    <input id="fullName" type="text" formControlName="fullName" required pattern="\S+" title="This field is required">
  </div>
  <span class="text-danger" *ngIf="fullName?.invalid && formDir.submitted">
    Full name is required.
  </span>

  <div>
    <label for="dob">
      Date of birth
    </label>
    <input id="dob" type="date" formControlName="dob" required pattern="\S+" title="This field is required">
  </div>
  <span class="text-danger" *ngIf="dob?.invalid && formDir.submitted">
    Dob is required.
  </span>

  <div>
    <label for="userName">
      Username
    </label>
    <input id="userName" type="text" formControlName="userName" required pattern="\S+" title="This field is required">
  </div>
  <span class="text-danger" *ngIf="userName?.invalid && formDir.submitted">
    username is required.
  </span>

  <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="text" formControlName="password" required pattern="\S+" title="This field is required">
  </div>
  <span class="text-danger" *ngIf="password?.invalid && formDir.submitted">
    password is required.
  </span>

  <div>
    <label for="additionalText">
      Additional info
    </label>
    <input id="additionalText" type="text" formControlName="additionalText">
  </div>

  <button class="buttonSubmit" type="submit">Add</button>
  <button class="buttonCancel" (click)="cancel()">Cancel</button>
</form>

