<header>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/users">Users</a></li>
      </ul>
    </nav>
  </div><br />
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
